<%- include('partials/head') %>

<%- include('header') %>

<h1>Annonces</h1>

<ul>
  <% annonces.forEach((animal) => { %>
    <li>
      <a href="http://localhost:4000/annonce/<%= annonce._id %>">
        <%= annonce.nom %>
      </a>
      <button type="button" onclick="deleteAnnonce('<%= annonce._id %>')">Supprimer</button>
    </li>
  <% }) %>
</ul>
